
@{
    ViewData["Title"] = "ViewPlayers";
}

    <style>
        body {
            background-image: url(https://i.imgur.com/FPbs9yo.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #viewPlayersHeader {
            text-align: center;
            color: gold;
            font-weight: 900
        }

        #deleteButton {
            border-radius: 4px;
        }
    </style>


<h1 id="viewPlayersHeader">Current Players</h1>

@model List<Player>

<table class="table" style="color:gold; background-color:rgba(0, 0, 0, 0.75); font-weight:500;">
    <tr style="font-weight:900">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Current Points</th>
        <th>Total Earned Points</th>
        <th>Incorrect Answers</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var player in Model)
    {
<tr>
    <td>@player.FirstName </td>
    <td>@player.LastName</td>   
    <td>@player.CurrentPoints</td>
    <td>@player.TotalPoints</td>
    <td>@player.IncorrectAnswers</td>
    <td><a href="../Household/LoginPlayer?id=@player.UserId" class="btn btn-primary">Log in as this user</a></td>
    <td><a id="deleteButton "href="../Player/DeletePlayer?id=@player.UserId" class="btn btn-danger">Delete Player</a></td>
</tr>
    }
    </table>


<div class="text-center">
    <a class="btn btn-success" href="../Household/AddNewPlayer"> Add New Player! </a>
</div>